{% extends "common.html" %}
{% block content %}
<style>
.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}
.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
    z-index: 1000;
}

.dflex {
    border-color: #e0e0e0;
    flex: 1 1 auto;
    display: flex;  flex-flow: column;
    overflow: auto;
}
.tab-content {
    text-align: initial;
    overflow: auto;
    padding: 20px !important;
    font-family: "Google Sans", Sans, Roboto, Arial, sans-serif;
    height: calc(100% - (50px));
}

#tabs .ui-tabs-nav .ui-state-default a  {
    color: #c0c0c0;
    font-family: "Google Sans", Sans, Roboto, Arial, sans-serif;
}

#tabs .ui-tabs-nav .ui-state-active a {
    color: #6d96e9 !important;
    border-bottom: #2006ea 3px solid !important;
}
.tabedit{
    padding: 4px;
    border-radius: 6px;
}

.vtubeComments{
    padding: 14px;
    border-radius: 1px;
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
}

.timea {
    color: #6d96e9 !important;
}
.timea:hover {
    color: #e9926d !important;
}
</style>

<script src="/static/node_modules/split.js/dist/split.min.js" ></script>
<script src="/static/geoui/splitter1.js/"></script>
<link href="/static/geoui/slidermenu.css" rel="stylesheet" />
<script src="/static/geoui/slidermenu.js"></script>


<div class="content fcontainer" style="height: calc(100vh - 80px);">
    <div class="split content" style="flex: 1 1 auto;">
        {% include "vtube/sidebar.html" %}
        <div id="two" class=dflex >
            <div id=oneh style="height: 190px;height: 100%; background-size:100% 100%;">
                <!-- img src="/static/media/cap/houseprice.png" height="100%" / --> 
                <video id="vplayer" height="100%"  controls>
                    <source src="/static/vtube/videos/index.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                    <iframe id=youtube style="background-color: #e0e0e0;border-radius: 6px; width:100%; height: 100%; display: none;" 
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; " >
                    </iframe>
            </div>

            <div id="tabs" class=tabs style="border: 0px; border-left: 1px solid #f7f7f7">
                <ul>
                    <li><a href="#tabs-transcriptsp"     > <i class="fa fa-file-text"></i> Transcripts</a></li>
                    <li><a href="#tabs-discussionp"> <i class="fa fa-comments" ></i> Discussions</a></li>
                    <li><a href="#tabs-overviewp"  > <i class="fa fa-list" ></i> Overview</a></a></li>
                </ul>
                <div style="width:100%; height: 1px; background: #efefef"> </div>
                <div class="tabs-details" style="width: 100%;" >
                    <div id="tabs-transcriptsp"  class="tab-content" >
                        <button class=rbutt32 style="display: block; float: right;"  
                                data-toggle="tooltip" title="Update transcript"
                            onclick="updateVTubeMeta('trans')"><i class="fa fa-file-text" ></i>
                        </button>
                        <hr/>
                        <div id="tabs-transcripts" class=tabedit onclick="this.contentEditable = true">

                        </div>

                    </div>


                    <div id="tabs-discussionp"     class="tab-content" >
                        <div id=vcomment class=tabedit onclick="this.contentEditable = true"
                            style="border: 1px solid rgb(16, 149, 36);width:100%; min-height: 80px;">
                            Your comments
                        </div>
                           <button class="btn btn-outline-info btn-sm" onclick="addQA()">Add Comments</button>

                        <div id="tabs-discussion" class=tabedit onclick1="this.contentEditable = true">
                            overview
                        </div>
                    </div>


                    <div id="tabs-overviewp" class="tab-content" >
                        <button class=rbutt32 style="display: block; float: right;"  
                            data-toggle="tooltip" title="Update Overview"
                            onclick="updateVTubeMeta('summary')"><i class="fa fa-book" ></i>
                        </button>
                        <hr/>
                        <div id="tabs-overview" class=tabedit onclick="this.contentEditable = true">
                            overview
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </div>
    <div class="footer">: </div>
</div>
<!-- -----------------------------------------------------------------------------
    SCRIPT
 * This assumes you have a service working
------------------------------------------------------------------------------- -->
<script>
    
var sizes = localStorage.getItem('split-sizes')
if (sizes) {
    sizes = JSON.parse(sizes)
} else {
    sizes = [25, 75]
}

var sizes1 = localStorage.getItem('split-sizes1')
if (sizes1) {
    sizes1 = JSON.parse(sizes1)
} else {
    sizes1 = [50, 50]
}

Split(['#one', '#two'], {
    sizes : sizes,
    minSize: [10, 100],
    onDragEnd: function (sizes) {
        localStorage.setItem('split-sizes', JSON.stringify(sizes))
    },
})

Split(['#oneh', '#tabs'], {
    sizes : sizes1,
    minSize: [150, 2],
    direction: "vertical",
    //aMin: "50%",
    //bMin: "10%",
    //dragging: true,
    onDragEnd: function (sizes) {
        localStorage.setItem('split-sizes1', JSON.stringify(sizes))
    },
})

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function vtubegoto(s) {
    $('#vplayer')[0].currentTime = s
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$(document).ready(function() {
})
</script>
{% endblock %}
