<div id="one" class="dflex" style="padding-left:5px; min-width: 1px; overflow: scroll;">
    <!-- div style="font-size: smaller;color:#777; padding: 5px;">
        <label class="label1">filter</label>
        <input class="input1" id=vfilter   size=2 value=*>  
    </div -->
    <div id="vlist">
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script>
let CURRENT_MENU = 'default.menu'     
let CURRENT_ITEM = ''     
let CURRENT_MENU_CONTENTS = ''     
function getSideBar() {
    var urlp = new URL(window.location.href)
    var defMenu = urlp.searchParams.get('menu') || 'default.menu'
    var defItem = urlp.searchParams.get('item') || ''

    CURRENT_MENU = defMenu
    CURRENT_ITEM = defItem
    
    $.get(`/static/vtube/${defMenu}`, function(data) {
            CURRENT_MENU_CONTENTS = data;
            getmenu(CURRENT_MENU_CONTENTS, '#vlist', "<br/><H5>Videos</H5><br/>")
        }, 'text').fail(function() {
            console.error("An error occurred while reading the file.");
    });
    console.log(CURRENT_ITEM)
    if (CURRENT_ITEM){
        setTimeout(findItemAndSet, 300, CURRENT_ITEM)
    }
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
function setVideoSource(src){
    //src="https://www.youtube.com/embed/Yq0QkCxoTHM?si=H3jXvJfBfK8xjpL7"

    if (src.includes("youtube")){
        $('#youtube').attr('src',src)
        $('#youtube').show()
        $('#vplayer').hide()
    } else {
        $('#youtube').hide()
        $('#vplayer').show()
        $('#vplayer').attr('src',src)
    }
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function myMenuItemClicked(f, a){
    var src = f
    setVideoSource(src)
    var ss = src.split("/")
    ss = ss[ss.length -1]

    if(a.text) {
        menusetActive(a)
        CURRENT_ITEM = a.text.trim()
        //window.location = window.location.href.split('?')[0]+ `?menu=${a}`
        var new_URL=window.location.href.split('?')[0]+ `?menu=${CURRENT_MENU}&item=${CURRENT_ITEM}`
        window.history.replaceState( {} , window.document.title, new_URL );
    }
}
menuItemClicked = myMenuItemClicked
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
let sidebar=`
#Label1     ;<i class="fa fa-file-video" style="color:red"></i> ;;/static/vtube/videos/index.mp4
#Label1     ;<i class="fa fa-file-video" style="color:red"></i> ;;https://www.youtube.com/embed/Yq0QkCxoTHM?si=H3jXvJfBfK8xjpL7
#Label1     ;<i class="fa fa-file-video" style="color:red"></i> ;;https://github.com/meyers007/vtube/raw/refs/heads/main/static/vtube/videos/index1.mp4
---
#Label2     ;fas fa-file-video ;; https://www.youtube.com/embed/Yq0QkCxoTHM?si=H3jXvJfBfK8xjpL7
##Label2    ;fas fa-file-video ;; /static/vtube/videos/index.mp4
--- 
# SAMPLE
---
#About             ; fas fa-book-reader  ;;                    ;;
</div>
`    

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$(document).ready(function() {
    getSideBar()
})

</script>